*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    justify-content: space-between;
    background-color: orange;
    padding: 20px;
}
.nav-btn{

}
/* GALLERY CONTAINER */

.image-gallery{
    display: block;
    padding: 0 50px;
}
.search-panel{
    gap: 15px;
    padding: 20px 0;
}
.gallery-container{
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px 0;
}
.image-preview{
    width: 250px;
    height: 200px;
    cursor: pointer;
}

/* CANVAS CONTAINER */

canvas {
    display: block;
    margin: 0 auto;
    outline: 1px solid black;
    background-color: white;
}

.canvas-container {
    display: none;
    flex-direction: row;
    background-color: rgb(42, 91, 165);
    padding: 20px;
    width: 100vw;
    height: 90vh;
    gap: 25px;
}
.control-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* justify-content: space-between; */
    /* position: fixed; */
    padding: 15px;
    background-color: rgb(240, 240, 240);
    width: 300px;
    box-shadow: 0 1px 2px black;
}
.lines-options{
    gap: 20px;
}

.text-input{
    font-size: x-large;
    width: 100%;
}


/* HELPERS */
.flex{
    display: flex;
}
.space-a{
    justify-content: space-around;
}
.space-b{
    justify-content: space-between;
}
