*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    justify-content: space-between;
    background-color: aquamarine;
    padding: 20px;
}
.image-gallery{
    padding: 0 50px;
}
.search-panel{
    gap: 15px;
    padding: 20px 0;
}
.gallery-container{
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px 0;
}
.image-preview{
    width: 250px;
    height: 200px;
    cursor: pointer;
}

.flex{
    display: flex;
}
